---
import "../styles/global.css";

const { title = "Devver | Déployez en 1 commande", description = "Prévisualisez, validez et shippez vos PRs avec des URLs éphémères ultra-rapides." } = Astro.props;
---

<html lang="fr" class="scroll-smooth dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
    </head>
    <body class="min-h-screen antialiased">
        <slot />
    </body>
</html>
